.about-main {
    position: absolute;
    width: 1519px;
    height: 452px;
    top: 2432px;
    background: #212731;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    font-family: inter;
    gap: 8rem;

    .categories,
    .contact {
        margin-top: 6%;

        a {
            text-decoration: none;
            color: #B6BDC4;
        }

        h1 {
            width: 102px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 8px 35px;
        }

        li {
            list-style: none;
            width: 124px;
            height: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            padding: 8px 0px;
            color: #B6BDC4;
        }
    }

    .option {
        margin-top: 10%;

        select {
            text-decoration: none;
            background: none;
            border: none;
            width: 110px;
            height: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: #D1D6DA;
        }
    }

}